

</div>
<!-- content --> 

<div class="footer-container" id="footer">
  <div class="footer">
      <div class="mobile">
        <h3>联系方式  <i class="fa fa-id-card"></i></h3>
        <hr>
        <p>电话 <i class="fa fa-phone"></i>  : 17346628617</p>
        <p>邮箱 <i class="fa fa-envelope"></i>  :
          <a href="mailto:992273994@qq.com">992273994@qq.com</a>
         </p>
        <p>微信 <i class="fa fa-comment"></i>   : crocodilessss</p>
      </div>
      <div class="mobile">
        <h3>关注我 <i class="fa fa-heart"></i> </h3>
        <hr>
        <p>Github   <i class="far far-code-branch"></i>  :
          <a href="https://github.com/acidlemonrain">acidlemonrain</a></p>
      </div>
  </div>
  <div class="website-information">
      <div>
         <p>备案号 : 琼ICP备19004392号</p>
         <p>Powered by NEST </p>
      </div>
  </div>
</div>
<!-- body -->
</div>


</body>

<style>
html, #body ,body{
  height: 100%;
}
#body {
  display: flex;
  flex-direction: column;
}
#content {
  flex: 1 0 auto;
}
#footer {
  flex-shrink: 0;
}

 
  .footer-container{

    background-color: #002A32;
    width: 100vw;
    margin-top: 200px;
    padding: 30px;
    color:#00B5B6;
    padding-bottom: 10px;
   
   
  }
  .footer{

    display: flex;
    flex-wrap: wrap;

  }
 .website-information{
   margin-top: 10px;
   text-align: center;
 }
   .mobile{
     padding: 40px 60px;
     width: 50%;
   }
  @media only screen and (max-width: 600px) {
    .mobile{
      padding: 20px 10px;
      width: 100%;
    }
  }
 p{
   margin: 5px 0px;
 }
  hr{
    margin: 8px 0;
  }
</style>
<script>
    var dir = 'down'
    var delta = 0
    var pre_po = 0
    var cur_po = 0
    var header_img = document.getElementsByClassName('header-img')[0]
    //
    function caculate_delta(){
      if(delta >= 0){
        if(cur_po>pre_po){
          delta++
        }else{
          delta = -1
        }
      }else{
        if(cur_po>pre_po){
          delta = 0
        }else{
          delta--
        }
      }
    }

    //滚动监听
    document.addEventListener('scroll',(e)=>{
        pre_po = cur_po
      var scrollTop = window.pageYOffset || (document.documentElement || document.body.parentNode || document.body).scrollTop
        cur_po = scrollTop
      //收起
      if(scrollTop>100){
        header_img.style.height = 0
      }else{
      //展开
        document.getElementById('header').style.top = '0px'
        header_img.style.height = '100px'
      }
      //
      caculate_delta();
      console.log(delta);
      if(delta<-40){
        document.getElementById('header').style.top = '0px'
      }
      if(delta>30){
        document.getElementById('header').style.top = '-100px'
      }

    })
</script>
</html>
