<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hyc's Website</title>
    <link rel="stylesheet" href="/css/atom.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<script>
var server_url = 'http://106.15.183.147:5555/'
</script>
<body>

<header id="header" style="position: fixed;z-index: 999;top: 0px;left: 0px">
    <div class="header-img">

    </div>
    <nav id="nav">
        <a href="/" class="nav-link">主页</a>
        <a href="/blog" class="nav-link">博客</a>
        <a href="/life" class="nav-link">生活</a>
    </nav>
</header>

<div id="body"> 

   
<div class="container" id="content">
<div id="spacer" style="height: 165px;width: 100vw; "></div>